body {
  
  margin: 0;
  
  padding: 0;
}

#first-page {
  background-color: #1c1a19;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 56px;
}

.container {
  margin: 0 24px;
  overflow: hidden;
}

.header {
  background-color: #3e3c3c;
  height: 92px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.main h1 {
  font-family: 'Crete Round', serif;
  color: #ff6800;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.37px;
  margin: 12px 0;
}

.text-subheading h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 12px 0;
  font-size: 1.5rem;
}

.text-body p {
  font-family: 'Poppins', sans-serif;
  line-height: 32px;
  font-weight: 400;
  font-size: 1rem;
  margin: 12px 0;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative; 
  top: 200px;
  height: 600px;
}

.navbar p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
}

.socials {
  display: flex;
  justify-content: space-between;
  padding-right: 37%;
  padding-left: 3%;
  padding-bottom: 62px;
  list-style: none;
}

.hamburger {
  border: solid 2px #fff;
  margin-bottom: 4px;
  width: 20px;
  border-radius: 5px;
}

.logo {
  text-decoration: none;
  color: #fff;
}

.portfolio-heading {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  text-align: left;  
  line-height: 52px;
  margin-top: 120px;
}

.container2 {
  padding: 0 24px
}
#portfolio {
  color: #091e42;
}

.portfolio-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.rule {
  margin-top: 24px;  
}

.grid-container {
  display: grid;
  grid-template-rows: 375px 375 375px 375px 375 375px; 
  gap: 10px;
}

.grid-container h1 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.skill-list{
  list-style: none;
  display: flex;  
  margin-right: 12px;  
  padding-left: 0;
  margin-bottom: 12px;  
}

.skill-list li {
  border: solid 1px;
  padding: 10px 12px;
  margin-right: 12px;
  line-height: 20px; 
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 15px;
}

.btn a {
  text-decoration: none;
  padding: 12px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 15px;
  width: 124px;
  height: 48px;
  
}

.btn {
  background-color: #ff6b00;
  outline: inherit;
  border: none;
  width: 124px;
  height: 48px;
  margin-bottom: 36px;
}

.grid-container img {
  margin-top: 80px;
}

#printing{
  background-image: url('images/background.png');
  height: 386px;  
}

#printing h1 {
  margin-top: 84px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-left: 16px;
  margin-right: 16px;
  color: #fff;
  margin-bottom: 12px
}

.btn_2 {
  width: 327px;    
}

#printing p {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #fff;
margin: 0 16px;
}

#printing .skill-list li {
  color: #fff;

}

.printing-list {
  margin-left: 16px;
  margin-bottom: 22px;
  margin-top: 12px;
}

#about-me {
  margin-top: 120px;
  width: 375px;
  background-color: #1c1a19;
  width: 375px;
  height: 1901px;
}

#about-me h1 {
  padding-top: 120px;
  padding-bottom: 24px;
  color: #ff6b00;
  width: 327px;
  font-family: 'Crete Round', serif;
  letter-spacing: 00.37px;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
}

#about-me p {
  font-family: 'Inter', sans-serif;
  color: #f4f5f7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  line-height: 24px;
}

.about-btn {
  width: 165px;
  margin-top: 24px;

}
.about-btn a {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

#about-me img {
  margin-left: 215.35px;
  position: relative;
  bottom: 90px;
}

.line {
  position: relative;
  bottom: 80px
}

#about-category {
  color: #fff;  
}

#about-category ul {
  list-style: none;
 text-align: center;
}

