body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#first-page {
  background-image: url("images/background-image1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: 450px;
  background-color: #1c1a19;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;

  /* padding-top: 36px; */

  padding-top: 40px;

}

.container {
  margin: 0 24px;
  overflow: hidden;
}

.header {
  background-color: #3e3c3c;
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.main h2 {
  font-family: 'Crete Round', serif;
  color: #ff6800;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.37px;
  margin: 12px 0;
}

.text-subheading h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 12px 0;
  font-size: 1.5rem;
}

.text-body p {
  font-family: 'Poppins', sans-serif;
  line-height: 32px;
  font-weight: 400;
  font-size: 1rem;
  margin: 12px 0;
}

.main {
  padding-top: 192px;
  width: 375px;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #fff;
  display: block;
}

.socials {
  display: flex;
  justify-content: space-between;
  padding-right: 37%;
  padding-left: 3%;
  padding-bottom: 120px;
  list-style: none;
  margin-top: 22px;
}

.ham {
  cursor: pointer;
}

.hamburger {
  background-color: #acb7c3;
  margin: 5px auto;
  width: 24px;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.underline {
  border-bottom: solid #212121 1px;
  width: 327px;
  margin-top: 24px;
  position: relative;
  top: 120px;
}

.portfolio-heading {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  text-align: left;
  line-height: 52px;
  margin-top: 120px;
}

.portfolio-header div {
  border-bottom: 1px solid #212121;
}

.portfolio-img {
  margin-top: 72px;
  margin-right: 24px;
}

.hidden-mobile {
  display: none;
}

.nodisplay-desktop {
  display: inline-block;
}

#portfolio {
  color: #091e42;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.portfolio-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.rule {
  margin-top: 24px;
}

.grid-container {
  display: grid;
  grid-template-rows: 386px 386px 386px 386px 386px 386px;
  grid-template-columns: 375px;
  gap: 48px;
}

.skill-list {
  list-style: none;
  display: flex;
  margin-right: 12px;
  padding-left: 0;
  margin-bottom: 24px;
}

.skill-list li {
  border: solid 1px;
  padding: 10px 12px;
  margin-right: 12px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.grid-container a button {
  text-decoration: none;
  color: #fff;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 15px;
  height: 48px;
  cursor: pointer;
}

.skill-list-btn {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  width: 124px;
  height: 48px;
  cursor: pointer;
  padding: 12px;
}

.skill-list-btn:hover {
  color: #f55800;
  border: 1px solid #f55800;
}

.skill-list-btn:active {
  color: #f4f1f0;
}

.skill-list-btn:disabled {
  color: #585957;
}

.btn {
  background-color: #ff6b00;
  border: none;
}

.btn:hover {
  background-color: #fff5e1;
}

.btn:active {
  background-color: #e05304;
}

.btn:disabled {
  background-color: #f4f1f0;
}

.printing {
  background-image: url('images/background.png');
  margin: 0 24px;
}

.printing h2 {
  margin-top: 84px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-left: 16px;
  margin-right: 16px;
  color: #fff;
}

#portfolio h2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.btn_2 {
  width: 100px;
  padding: 12px 113.5px;
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  background-color: #ff6b00;
}

.printing p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0 16px;
}

.navbar ul li {
  padding-left: 40px;
}

.printing .skill-list li {
  color: #fff;
}

.printing-list {
  margin-left: 16px;
  margin-bottom: 22px;
  margin-top: 12px;
}

.about-me-gen {
  margin-top: 120px;
  width: 100%;
  background-color: #1c1a19;
  height: 1800px;
  color: #fff;
  background-image: url("images/Group.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: 380px;
}

#about-me h1 {
  padding-top: 120px;
  padding-bottom: 24px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  letter-spacing: 0.37px;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
}

.contact-me h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 0 0 73px 0;
}

#about-me p {
  font-family: 'Inter', sans-serif;
  color: #f4f5f7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 36px;
}

.about-btn {
  width: 165px;
  background-color: #ff6b00;
  border: none;
}

.about-btn a {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.line {
  border-bottom: 1px solid;
  margin: 221px 24px 0 24px;
}

.card1 a {
  display: block;
}

#about-category {
  color: #fff;
  margin-top: 48px;
  padding: 0;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  position: fixed;
  right: -200%;
  top: 0;
  padding-top: 76px;
  gap: 0;
  background-color: #3c3a39;
  width: 100%;
  transition: 0.3s;
  height: 700px;
}

#about-category ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

#about-category h2 {
  padding-left: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

#footer li {
  margin-right: 22.92px;
}

#about-category ul li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  padding-right: 24px;
}

.language-bullet {
  position: relative;
  top: 70px;
  left: 80px;
}

.frameworks-bullet {
  position: relative;
  top: 60px;
  left: 80px;
}

.skills-bullet {
  position: relative;
  top: 65px;
  left: 130px;
}

#footer {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  background-color: #fff;
}

.contact-me {
  margin: 0 24px;
}

.name {
  width: 295px;
  margin-bottom: 54px;
}

.email {
  width: 295px;
  margin-bottom: 54px;
}

input,
textarea {
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.textarea {
  margin-bottom: 36px;
  width: 327px;
  background-color: #fbf8f7;
}

.contact-me hr {
  color: #dbd8d7;
  position: relative;
  bottom: 50px;
}

.form-btn {
  background-color: #ff6b00;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  width: 131px;
  cursor: pointer;
  padding: 12px;
  margin-left: 110px;
  margin-bottom: 124px;
  transition: width 0.5s, height 4s;
  transition-timing-function: linear;
}

.form-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  width: 170px;
}

.form-btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.form-btn:disabled {
  background-color: #f4f1f0;
  color: #585957;
}

::placeholder {
  padding-top: 12px;
  padding-left: 36px;
  color: #3c3a39;
}

.footer-line {
  margin-bottom: 26px;
  border-bottom: 1px solid #dfe1e6;
}

#footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 28px;
}

.last-line {
  margin-bottom: 5px;
  border-bottom: 5px solid #0d151e;
  width: 134px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.menu-hr {
  width: 87.2%;
  margin: 15px 0 24px 0;
  padding-left: 0;
  color: #6f6c6b;
}

.navbar ul.active {
  right: 0;
}

.navbar ul a {
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  margin-left: 40px;
}

.ham.active .hamburger:nth-child(2) {
  opacity: 0;
}

.ham.active .hamburger:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.ham.active .hamburger:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hidden {
  visibility: hidden;
}

@media (min-width: 768px) {
  body {
    width: 100%;
  }

  .nodisplay-desktop {
    display: none;
  }

  .nonvisible {
    visibility: hidden;
  }

  .navbar ul {
    /* display: inline; */
    flex-direction: row;
    display: flex;
    width: 295px;
    align-content: center;
    justify-content: space-between;
    position: relative;
    bottom: 12px;
    margin-right: 130px;
    left: 0;
    top: -90px;
    height: 8px;
    background-color: #3c3a39;
  }

  .card1 a {
    display: inline-block;
  }

  .navbar ul a {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    width: 15px;
    transition-property: color, margin-right, margin-left;
    transition-duration: 2s;
    margin-left: 0;
  }

  .navbar ul a:hover {
    color: #ff6800;
    margin-right: 20px;
    width: 20px;
    margin-left: 20px;
  }

  .socials li {
    margin-bottom: 18px;
  }

  .navbar ul li {
    list-style: none;
    padding-left: 0;
  }

  .navbar {
    padding-left: 130px;
    padding-top: 24px;
  }

  .main {
    padding-top: 336px;
    height: 798px;
    margin-left: 143px;
    width: 55%;
  }

  .main h2 {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    width: 60%;
  }

  .main h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    width: 80%;
  }

  .main p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 80%;
  }

  #first-page {
    background-image: url("images/desktop-bg.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 870px;
  }

  .socials {
    flex-direction: column;
    margin-left: 12px;
    padding-bottom: 0;
    position: relative;
    bottom: 700px;
  }

  .portfolio-header div {
    position: relative;
    bottom: 60px;
    margin-left: 492.5px;
    width: 794px;
  }

  .portfolio-header h1 {
    margin-left: 153.5px;
    width: 315px;
  }

  .hidden-mobile {
    display: block;
  }

  .portfoilio-image {
    display: none;
  }

  .portfolio-img {
    margin-left: 141px;
    margin-top: 114px;
    margin-right: 24px;
  }

  .flex-port {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #portfolio {
    margin: 0;
    padding: 0;
  }

  .flex-port-text {
    width: 100%;
    padding: 0;
    margin-top: 80px;
  }

  .grid-container {
    grid-template-columns: 369px 369px 369px;
    margin-left: 141.5px;
    grid-template-rows: 435px 435px;
    gap: 24px;
    margin-top: 24px;
  }

  .printing {
    background-image: none;
    margin: 0;
  }

  .card1 {
    background-image: url("images/portfolio-bg1.png");
  }

  .card2 {
    background-image: url("images/portfolio-bg2.png");
  }

  .card3 {
    background-image: url("images/portfolio-bg3.png");
  }

  .card4 {
    background-image: url('images/portfolio-bg4.png');
  }

  .btn_2 {
    padding: 17px 134.92px;
    position: relative;
    bottom: 62px;
  }

  .about-me-gen {
    background-image: url("images/about-me-bg.png");
    background-repeat: no-repeat;
    background-size: 585.52px 352.38px;
    background-position: right 10%;
    margin-top: 130px;
    width: 100%;
    background-color: #1c1a19;
    height: 1195px;
    color: #fff;
  }

  #about-me {
    margin: 130px 0 0 130px;
  }

  #about-me h1 {
    line-height: 82px;
    width: 40%;
  }

  #about-me p {
    font-family: 'Inter', sans-serif;
    color: #f4f5f7;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 35%;
    margin-bottom: 36px;
  }

  .skill-list-btn {
    width: 161px;
  }

  #about-category {
    display: flex;
    margin-left: 130px;
    margin-top: 146px;
  }

  .line {
    border-bottom: 1px solid;
    padding-top: 139px;
    margin-right: 153px;
    margin-left: 142px;
    margin-top: 0;
  }

  .printing div {
    margin-top: 178px;
  }

  .card3 div {
    margin-top: 221px;
  }

  #about-category div {
    margin-right: 230.54px;
  }

  #about-category ul {
    text-align: left;
  }

  #about-category h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    left: 48.46px;
    padding-left: 24px;
    text-align: left;
    margin-top: 0;
  }

  .language-bullet {
    position: relative;
    top: 40px;
    left: 36.46px;
  }

  .frameworks-bullet {
    position: relative;
    top: 40px;
    left: 36.46px;
  }

  .skills-bullet {
    position: relative;
    top: 40px;
    left: 36.46px;
  }

  .contact-me {
    margin-left: 135px;
    display: flex;
  }

  .contact-me h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #172b4d;
    width: 455px;
  }

  .contact-me hr {
    width: 684px;
  }

  #footer {
    width: 100%;
  }

  .textarea {
    width: 684px;
    height: 114px;
  }

  .form-btn {
    width: 122px;
    margin-left: 0;
    margin-bottom: 166px;
  }

  .contact-me form {
    width: 684px;
  }

  .last-line {
    display: none;
  }

  .footer-line {
    margin-bottom: 28.03px;
  }
}
